# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# vim swap files
.*.swp

# vim backup files
*~

# Compiled binaries
/mem_limit/mem_limit
/mem_limit/mem_limit_no_mpi
/alloc/alloc

# Python cache directories
__pycache__/
